<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo pedido:</strong>
  <%= @order.tipo_pedido %>
</p>

<p>
  <strong>Fecha entrada:</strong>
  <%= @order.fecha_entrada %>
</p>

<p>
  <strong>Fecha salida:</strong>
  <%= @order.fecha_salida %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
